{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Help24</title>
</head>
<body background="{%static 'images/1.jpg'%}">
	<img src="{%static 'images/help24logo.png'%}" >
    <div id="container">
     <div id="image" style="float:left;">
        <img src="{%static 'images/profile.png'%}"  align="left">
    </div>

    <div id="texts" style="float:left;"> 
        <font size="20px"><b>About</b></font>
    </div>
     </div>
     <br>
     <br><br>
     <div class="row">
          <div>
          <p><font color="white", size="4px">The Help24 is an local search engine directory based application which enables the users to find their daily needs in their local area.
     	<br>
     	<br>
     	Help24 app also has one more section to search blood donner of specific blood group in case of emergency.
     	<br>
     	<br>
     	Help24 app also has the vacancy attribute for the people who search jobs.
     	<br><br><br><br>
     </font>
     </p>
     </div>
     </div>     

     <div id="image" style="float:left;">
        <img src="{%static 'images/phone.png'%}"  align="left">
    </div>

    <div id="texts" style=""> 
        <font size="5px"><b>Contact</b></font>
    </div>
     	<br>
          <font color="white">+919993842500</font>
     	<br>
     	<br>
     <b><font color="black", size="5px">Email and website</font></b>
     <br>
     <div id="image" style="float:left;">
        <img src="{%static 'images/message.png'%}"  align="left"/>
    </div>
    <div id="texts"> 
        <font size="4px" color="white" style="margin-left: 5px">priyankasonispitm8299s@gmail.com</font>
    </div>
     <br>
    <div id="image" style="float:left;">
        <img src="{%static 'images/www.png'%}"  align="left">
    </div>
    <div id="texts"> 
        <font size="4px" color="white" style="margin-left: 5px">www.help24.com</font>
    </div>


</body>
</html>