<!DOCTYPE html>
<html>
<head>
	<title>help</title>
	{% load static %}
</head>
<body background="{% static 'images/1.jpg'%}">
	 <div style="margin-top:10px;">
            <img src="{% static 'images/help24logo.png'%}">
            <h1 align="center"><b>Help</b></h1>
       </div> 
       <div style="margin-right: 45px;"><h2><b>HOW TO REGISTER:</b></h2><br>
       	<font color="white"; size="5px">
       The user have to go on login page and on right hand side there is a sign up form and by this form you can register yorself by giving some information.
       	</div>


</body>
</html>