{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable( {
      
    } );
} );
</script>
<style type="text/css">
  body{

    background:url({% static 'images/02.jpg'%});
  }
</style>
</head>
<body style="border:1px solid black;
"> <div><div class="footer text-center bg-danger" style="border: 1px solid black"> <h2>News Portal</h2></div>
<div class="container bg-info">
  <h2>Admin- Home</h2>            
  <table class="table table-striped bg-info" id="example" >
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Title</th>
        <th>Date & Text</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>pulwama atteck</td>
        <td>12.10.2019</td>
       
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
</td>
      </tr>
      <tr>
          <td>2</td>
          <td>pcg</td>
          <td>1.01.2019</td>

        <td><a href="" value="edit" onclick="delete" style="" >edit</a>
         <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
      <tr>
        <td></td>
         <td></td>
        <td></td>
        
        
        <td><a href="" value="edit" onclick="delete">edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
          <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
      <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
      <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
      <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
      <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>   
            <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
          <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
                  <tr>
        <td></td>
         <td></td>
        <td></td>
                
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>
                    <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>

                  <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>

                <tr>
        <td></td>
         <td></td>
        <td></td>
        
        <td><a href="" value="edit" onclick="delete" >edit</a>
        <a href="" value="delete" onclick="delete" >delete</a></td>
      </tr>


    </tbody>
  </table>
</div>
            <div class="footer text-center bg-danger" style="border: 1px solid black"><p>tcsion@gmail.com <a href="admin_home.html">Home</a></p></div>
            

      </div>

</body>
</html>
